.main-header {
  display: flex;
  color: rgb(103, 32, 32);
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1450px;
  margin: auto;

  @media (width >= 500px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (width >= 1000px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.page-logo {
  width: 25px;
  box-shadow: 2px 2px 3px rgb(142, 75, 75);
  transition: all 0.2s;

  &:hover {
    box-shadow: 4px 4px 5px rgb(142, 75, 75);
  }
}

.page-title {
  text-transform: uppercase;
  font-size: 2rem;
  user-select: none;
}

.page-title--short {
  @media (width >= 500px) {
    display: none;
  }
}

.page-title--long {
  display: none;

  @media (width >= 500px) {
    display: inline;
  }
}

.main-header__nav {
  font-size: 1.7rem;
  display: none;

  @media (width >= 600px) {
    display: inline;
  }
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list__item {
  padding: 5px 10px;
  transition: all 0.3s;
  border-radius: 10px;

  &:hover {
    color: inherit;
    background-color: rgb(255, 137, 137);
    box-shadow: 3px 3px 4px rgb(142, 75, 75);
  }
}

.nav-list__item--current {
  color: rgb(255, 238, 238);
  background-color: rgb(253, 69, 69);
}

.hamburger-menu {
  display: inline;
  font-size: 1.8rem;

  @media (width >= 600px) {
    display: none;
  }
}
