:root {
  background-color: rgb(255, 152, 152);
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Outfit Variable", sans-serif;
  margin: 0;
}
